<suite name="Automation Practice Test" verbose="1">
	<test name="Automation Practice" parallel="methods" thread-count="2">
		<classes>
			
			<parameter name = "browser" value = "${browser}"></parameter>
			<parameter name = "isLambdaTest" value = "${isLambdaTest}"></parameter>
			<parameter name = "isHeadless" value = "${isHeadless}"></parameter>>
			
			
			<class name="com.ui.tests.LoginTest3" />
		</classes>
	</test>
</suite>